.pointer 
{
    cursor: pointer;
}
img
{
    max-width: 25%;
    max-height: 25%;
    padding: 2px;;
}
.ply_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100vw;
    padding: 10px 15px;
    left: 50%;
    box-sizing: border-box;
}
