<div>
  <section style="margin: 20px;">
    <div class="row justify-content-end ">
      <mat-button-toggle-group >
        <mat-button-toggle (click)="cardToggle(true)" (click)="ngOnInit()">List</mat-button-toggle>
        <mat-button-toggle (click)="cardToggle(false)">Card</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>

  <section *ngIf="!toggle" style="margin: 20px;">
    <div class="row justify-content-center ">
      <div class="card" style="width: 18rem rounded shadow ; margin: 7px;" *ngFor="let song of music">
        <div class="card-body" style="width: 18rem;">
          <div class="card-text" (click)="player(song)" class="pointer">
            <img src="{{song.icon}}" alt="icon">
          </div>
          <div class="card-text" (click)="open(song)" class="pointer">
            {{song.name}}
          </div>
        </div>
      </div>
    </div>
    <!-- <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10]" [length]="10" [pageSize]='5'>
    </mat-paginator> -->
  </section>
  
  <section *ngIf="toggle" style="margin: 20px;">
    <div >
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">

        <mat-table [dataSource]="listData" matSort>

          <ng-container matColumnDef="movie">
            <mat-header-cell *matHeaderCellDef mat-sort-header> <strong> Movie </strong> </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="open(element)" class="pointer"> {{element.movie}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element"><img src={{element.icon}}> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> <strong> Song Name </strong> </mat-header-cell>
            <mat-cell *matCellDef="let element" class="pointer" (click)="player(element)"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="songs_duration">
            <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Duration</strong> </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.songs_duration}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="artist">
            <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Artist</strong> </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.artist}} </mat-cell>
          </ng-container>

          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        </mat-table>
        <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10]" [length]="10" [pageSize]='5'>
        </mat-paginator>
      </div>

    </div>
  </section>
  <section style="margin: 20px;">
    <app-trending ></app-trending>
  </section>
  <section style="margin: 20px;">
    <app-new-release></app-new-release>
  </section>
  <!-- <div class="row" *ngIf="flag">
    <audio controls>
      <source [src]="playData.songs_url" type="audio/mpeg">
    </audio>
  </div> -->  
</div>